.div,
.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-4xl);
}
.div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 898px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-4xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.phone_frame {
  position: relative;
  width: 344px;
}
.lifelink {
  height: 32px;
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-5xl);
  color: var(--color-red);
  font-family: var(--font-baloo-bhaijaan);
  background-color: white;
  padding-bottom: 15px;
}
.lifelink_icon {
  height: 32px;
  width: 32px;
  overflow: hidden;
  margin-right: 10px;
}
.lifelink_title {
  width: 100px;
  display: inline-block;
}
.hospital_detail {
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-200);
  width: 335px;
  height: 705px;
  display: flex;
  flex-direction: column;
}
.hospital_detail_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 25px;
  padding-top: 45px;
}
.top_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.top_title_hospName {
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.top_title_hospType {
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-dimgray-100);
  margin-top: 5px;
}
.top_icons {
  position: relative;
  top: 10px;
}
.top_icons_call {
  margin-right: 5px;
}
.hospital_detail_linebox {
  display: flex;
  height: 1px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.hospital_detail_line {
  border-top: 1px solid var(--color-gainsboro-300);
  width: 300px;
  box-sizing: border-box;
  height: 1px;
}
.hospital_detail_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.body_title {
  font-size: var(--font-size-smi);
  font-weight: 600;
  border-bottom: 1px solid var(--color-gainsboro-300);
  margin-bottom: 10px;
}
.body_cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.body_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 124px;
  border-radius: var(--br-40xl);
  background-color: var(--color-white);
}
.body_card_number,
.body_card_title {
  text-align: center;
  font-weight: 600;
}
.body_card_title {
  font-size: var(--font-size-smi);
  width: 47px;
  margin-bottom: 3px;
}
.body_card_number {
  color: var(--color-darkorange);
  font-size: var(--font-size-xl);
}
.body_notification {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: var(--font-size-4xs);
  font-weight: 500;
  color: var(--color-dimgray-100);
  margin-right: 28px;
}

.hospital_detail_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.bottom_title {
  font-weight: 600;
  font-size: var(--font-size-smi);
  border-bottom: 1px solid var(--color-gainsboro-300);
  margin-bottom: 10px;
}
.bottom_search {
  display: flex;
  flex-direction: row;
  width: 310px;
}
.bottom_search_inputbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bottom_search_input {
  border: none;
  width: 220px;
  height: 22px;
  padding-left: 22px;
}
.bottom_search_icon {
  position: relative;
  left: 18px;
}
.bottom_search_button {
  border-radius: var(--br-3xs);
  background-color: var(--color-royalblue-100);
  width: 47px;
  height: 24px;
  font-weight: 600;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom_listview {
  width: inherit;
  height: 260px;
  overflow-y: auto;
  border-bottom: 5px solid gray;
}
.bottom_listview::-webkit-scrollbar {
  display: none;
}

.groupChild {
  position: absolute;
  top: 0;
}
.groupChild {
  height: 4.54%;
  width: 9.85%;
  right: 90.15%;
  bottom: 95.46%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupItem {
  position: absolute;
  top: 40px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-200);
  width: 335px;
  height: 705px;
}
.groupInner {
  position: absolute;
  top: 392.5px;
  left: calc(50% - 150px);
  border-top: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  width: 310px;
  height: 1px;
}
.a,
.div1 {
  position: absolute;
  top: 0;
  left: 12px;
  font-weight: 600;
}
.div1 {
  top: 26px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-dimgray-100);
}
.groupChild1,
.groupIcon {
  position: absolute;
  top: 5px;
  left: 221px;
  width: 35px;
  height: 35px;
}
.groupChild1 {
  left: 263px;
}
.lineDiv {
  position: absolute;
  top: 61.5px;
  left: calc(50% - 155px);
  border-top: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  width: 310px;
  height: 1px;
}
.aParent {
  position: absolute;
  top: 83px;
  left: 18px;
  width: 309px;
  height: 62px;
  font-size: var(--font-size-xl);
}
.groupChild2 {
  position: absolute;
  top: 17.5px;
  left: calc(50% - 68.5px);
  border-top: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  width: 138px;
  height: 1px;
}
.rectangleIcon {
  position: absolute;
  top: calc(50% - 62px);
  left: calc(50% - 33px);
  border-radius: var(--br-40xl);
  width: 66px;
  height: 124px;
}
.div2,
.div3 {
  position: absolute;
  font-weight: 600;
}
.div2 {
  top: calc(50% - 28px);
  left: calc(50% - 23px);
  display: inline-block;
  width: 47px;
}
.div3 {
  top: calc(50% + 8px);
  left: calc(50% - 6px);
  font-size: var(--font-size-xl);
  color: var(--color-darkorange);
  text-align: left;
}
.rectangleDiv,
.vectorParent {
  position: absolute;
  top: calc(50% - 62px);
  left: calc(50% - 150px);
  width: 66px;
  height: 124px;
}
.rectangleDiv {
  left: calc(50% - 33px);
  border-radius: var(--br-40xl);
  background-color: var(--color-white);
}
.div4,
.div5 {
  position: absolute;
  font-weight: 600;
}
.div4 {
  top: calc(50% - 23px);
  left: calc(50% - 23px);
  display: inline-block;
  width: 46px;
}
.div5 {
  top: calc(50% + 9px);
  left: calc(50% - 6px);
  font-size: var(--font-size-xl);
  color: var(--color-tomato);
  text-align: left;
}
.rectangleParent {
  position: absolute;
  top: calc(50% - 62px);
  left: calc(50% + 84px);
  width: 66px;
  height: 124px;
}
.div7 {
  position: absolute;
  top: calc(50% + 8px);
  left: calc(50% - 13px);
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-limegreen-100);
  text-align: left;
}
.rectangleContainer,
.rectangleGroup {
  position: absolute;
  top: calc(50% - 62px);
  left: calc(50% - 72px);
  width: 66px;
  height: 124px;
}
.rectangleContainer {
  left: calc(50% + 6px);
}
.groupContainer {
  top: calc(50% - 57px);
  left: calc(50% - 150px);
  width: 300px;
  height: 124px;
  text-align: center;
}
.a1,
.div10,
.groupContainer {
  position: absolute;
}
.a1 {
  top: 0;
  left: calc(50% - 68px);
  font-size: var(--font-size-smi);
  font-weight: 600;
}
.div10 {
  top: calc(50% + 77px);
  left: calc(50% - 0px);
  font-size: var(--font-size-4xs);
  font-weight: 500;
  color: var(--color-dimgray-100);
}
.lineParent {
  position: absolute;
  top: 178px;
  left: calc(50% - 145.5px);
  width: 300px;
  height: 176px;
  font-size: var(--font-size-xs);
}
.groupChild5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-royalblue-100);
  width: 47px;
  height: 24px;
}
.div11 {
  position: absolute;
  top: 6px;
  left: 14px;
  font-weight: 600;
}
.rectangleParent1 {
  position: absolute;
  top: 32px;
  left: 250px;
  width: 47px;
  height: 24px;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.div12 {
  position: absolute;
  top: 0;
  left: calc(50% - 32px);
  font-weight: 600;
}
.groupChild6,
.parent {
  position: absolute;
  width: 64px;
}
.groupChild6 {
  top: 17.5px;
  left: calc(50% - 31.5px);
  border-top: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  height: 1px;
}
.parent {
  top: 0;
  left: calc(50% - 32px);
  height: 18px;
}
.groupChild7 {
  position: absolute;
  top: calc(50% - 21px);
  left: calc(50% - 150px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 300px;
  height: 42px;
}
.div13,
.div14 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 131px);
  font-weight: 600;
}
.div14 {
  top: calc(50% - 6px);
  left: calc(50% - 86px);
  font-size: var(--font-size-2xs);
  font-weight: 500;
  color: var(--color-dimgray-100);
}
.ellipseDiv {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% + 112px);
  border-radius: 50%;
  background-color: var(--color-limegreen-100);
  width: 24.6px;
  height: 24.6px;
}
.vectorIcon {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% + 118.3px);
  width: 12.6px;
  height: 12.7px;
}
.rectangleParent2 {
  position: absolute;
  top: calc(50% - 112px);
  left: calc(50% - 150px);
  width: 300px;
  height: 42px;
}
.div15,
.div16 {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 86px);
  font-weight: 500;
}
.div16 {
  top: calc(50% - 8px);
  left: calc(50% - 131px);
  font-size: var(--font-size-smi);
  font-weight: 600;
  color: var(--color-black);
}
.vectorIcon1 {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% + 118.3px);
  border-radius: var(--br-xl);
  width: 12.7px;
  height: 12.7px;
}
.groupChild10,
.rectangleParent3 {
  position: absolute;
  left: calc(50% - 150px);
  width: 300px;
}
.rectangleParent3 {
  top: calc(50% - 51px);
  height: 42px;
  font-size: var(--font-size-2xs);
  color: var(--color-dimgray-100);
}
.groupChild10 {
  top: calc(50% - 20.5px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  height: 41px;
}
.div17,
.div18 {
  position: absolute;
  top: calc(50% - 6.5px);
  left: calc(50% - 86px);
  font-weight: 500;
}
.div18 {
  top: calc(50% - 7.5px);
  left: calc(50% - 131px);
  font-size: var(--font-size-smi);
  font-weight: 600;
  color: var(--color-black);
}
.groupChild11 {
  position: absolute;
  top: calc(50% - 12.5px);
  left: calc(50% + 112px);
  border-radius: 50%;
  background-color: var(--color-limegreen-100);
  width: 24.6px;
  height: 24.6px;
}
.vectorIcon2 {
  position: absolute;
  top: calc(50% - 6.5px);
  left: calc(50% + 118.3px);
  width: 12.6px;
  height: 12.7px;
}
.groupParent1,
.rectangleParent4,
.rectangleParent5 {
  position: absolute;
  left: calc(50% - 150px);
  width: 300px;
}
.rectangleParent4 {
  top: calc(50% + 10px);
  height: 41px;
  font-size: var(--font-size-2xs);
  color: var(--color-dimgray-100);
}
.groupParent1,
.rectangleParent5 {
  top: calc(50% + 70px);
  height: 42px;
}
.groupParent1 {
  top: calc(50% - 73.5px);
  height: 224px;
}
.groupChild14 {
  top: calc(50% - 12px);
  left: calc(50% - 119.5px);
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  width: 239px;
  height: 24px;
}
.groupChild14,
.icon,
.lineIcon {
  position: absolute;
}
.lineIcon {
  top: 3.5px;
  left: 27.5px;
  width: 1px;
  height: 18px;
}
.icon {
  top: calc(50% - 7px);
  left: calc(50% - 111.8px);
  width: 13px;
  height: 13px;
}
.nameSearch {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 84.5px);
  font-weight: 500;
}
.groupWrapper,
.rectangleParent6 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 119.5px);
  width: 239px;
  height: 24px;
}
.groupWrapper {
  top: calc(50% - 118.5px);
  left: calc(50% - 145px);
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-200);
}
.groupDiv {
  position: absolute;
  top: 419px;
  left: 22px;
  width: 300px;
  height: 301px;
  font-size: var(--font-size-smi);
}
