.lifelink {
  position: absolute;
  width: 27.2%;
  top: 0;
  left: 10.48%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-baloo-bhaijaan);
  color: var(--color-red);
  display: inline-block;
}
.groupChild {
  position: absolute;
  height: 3.98%;
  width: 9.35%;
  top: 0.12%;
  right: 90.65%;
  bottom: 95.91%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupItem {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-200);
  width: 335px;
  height: 140px;
}
.b,
.div1,
.groupItem {
  position: absolute;
}
.b {
  top: 23px;
  left: 31px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-black);
}
.div1 {
  top: 27px;
  left: 82px;
  font-size: var(--font-size-2xs);
  font-weight: 500;
  display: inline-block;
  width: 98px;
  height: 26px;
}
.groupIcon,
.groupInner {
  position: absolute;
  top: 80px;
  left: 235px;
  width: 35px;
  height: 35px;
}
.groupIcon {
  left: 277px;
}
.p {
  margin: 0;
}
.div2 {
  position: absolute;
  top: 52px;
  left: 32px;
  font-size: var(--font-size-3xs);
  line-height: 16px;
  font-weight: 600;
  color: var(--color-dimgray-200);
}
.span {
  color: var(--color-red);
}
.span2 {
  color: var(--color-dimgray-200);
}
.p6 {
  margin: 0;
  color: var(--color-red);
}
.div3,
.div4 {
  font-weight: 600;
}
.div3 {
  position: absolute;
  top: 68px;
  left: 102px;
  font-size: var(--font-size-3xs);
  line-height: 16px;
  color: var(--color-dimgray-200);
}
.div4 {
  position: relative;
}
.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-silver);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-8xs);
  box-sizing: border-box;
}
.frameWrapper {
  position: absolute;
  height: 7.21%;
  width: 5.19%;
  top: 39.29%;
  right: 64.36%;
  bottom: 53.5%;
  left: 30.45%;
}
.b1 {
  position: relative;
}
.container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-navajowhite);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-8xs);
  box-sizing: border-box;
}
.frameContainer,
.frameWrapper1,
.groupDiv,
.wrapper1 {
  position: absolute;
  height: 7.21%;
  width: 5.19%;
  top: 39.29%;
  bottom: 53.5%;
}
.frameContainer {
  right: 58.33%;
  left: 36.48%;
  color: var(--color-darkorange);
}
.frameWrapper1,
.groupDiv,
.wrapper1 {
  right: 52.3%;
  left: 42.51%;
}
.frameWrapper1,
.wrapper1 {
  right: 46.27%;
  left: 48.54%;
}
.wrapper1 {
  width: 26.57%;
  top: 20%;
  right: 6.87%;
  bottom: 72.79%;
  left: 66.57%;
  background-color: var(--color-silver);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-8xs);
  box-sizing: border-box;
}
.rectangleParent {
  position: absolute;
  top: 710px;
  left: 4px;
  width: 335px;
  height: 140px;
  font-size: var(--font-size-5xs);
}
.div6,
.div7,
.e1 {
  position: absolute;
  top: 23px;
  left: 31px;
  font-weight: 600;
  color: var(--color-black);
}
.div6,
.div7 {
  top: 0;
  left: 0;
  font-size: var(--font-size-3xs);
  line-height: 16px;
  color: var(--color-dimgray-200);
}
.div7 {
  top: 16px;
  left: 70px;
}
.frameWrapper2,
.frameWrapper3,
.frameWrapper4,
.wrapper5 {
  position: absolute;
  height: 15.78%;
  width: 11.76%;
  top: 4.69%;
  right: 40.95%;
  bottom: 79.53%;
  left: 47.3%;
}
.frameWrapper3,
.frameWrapper4,
.wrapper5 {
  right: 27.3%;
  left: 60.95%;
}
.frameWrapper4,
.wrapper5 {
  right: 13.65%;
  left: 74.59%;
}
.wrapper5 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lightsteelblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-8xs);
  box-sizing: border-box;
}
.frameWrapper5 {
  position: absolute;
  height: 15.78%;
  width: 11.76%;
  top: 4.69%;
  right: 0;
  bottom: 79.53%;
  left: 88.24%;
  color: var(--color-royalblue-200);
}
.parent {
  position: absolute;
  top: 52px;
  left: 32px;
  width: 148px;
  height: 64px;
  font-size: var(--font-size-5xs);
}
.eWrapper,
.wrapper6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 335px;
  height: 140px;
}
.wrapper6 {
  height: 7.21%;
  width: 26.57%;
  top: 18.57%;
  right: 6.87%;
  bottom: 74.21%;
  left: 66.57%;
  background-color: var(--color-silver);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-8xs);
  box-sizing: border-box;
  font-size: var(--font-size-5xs);
}
.groupParent,
.wrapper7 {
  position: absolute;
  top: 546px;
  left: 4px;
  width: 335px;
  height: 140px;
}
.wrapper7 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lightpink);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-8xs);
  box-sizing: border-box;
}
.frameWrapper6,
.frameWrapper9 {
  position: absolute;
  height: 15.78%;
  width: 11.76%;
  top: 4.69%;
  bottom: 79.53%;
}
.frameWrapper6 {
  right: 40.95%;
  left: 47.3%;
  color: var(--color-red);
}
.frameWrapper9 {
  right: 0;
  left: 88.24%;
}
.a,
.wrapper13 {
  position: absolute;
  top: 54px;
  left: 4px;
  width: 335px;
  height: 140px;
}
.wrapper13 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-palegoldenrod);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-8xs);
  box-sizing: border-box;
}
.frameWrapper12 {
  position: absolute;
  height: 15.78%;
  width: 11.76%;
  top: 4.69%;
  right: 13.65%;
  bottom: 79.53%;
  left: 74.59%;
  color: var(--color-limegreen-200);
}
.dWrapper {
  position: absolute;
  top: 218px;
  left: 4px;
  width: 335px;
  height: 140px;
}
.c1,
.div17 {
  position: absolute;
  top: 23px;
  left: 31px;
  font-weight: 600;
}
.div17 {
  top: 27px;
  left: 82px;
  font-size: var(--font-size-2xs);
  font-weight: 500;
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 98px;
  height: 26px;
}
.div18 {
  top: 0;
  left: 0;
  line-height: 16px;
  font-weight: 600;
}
.div18,
.div19,
.parent2 {
  position: absolute;
}
.div19 {
  top: 16px;
  left: 70px;
  line-height: 16px;
  font-weight: 600;
}
.parent2 {
  top: 52px;
  left: 32px;
  width: 101px;
  height: 64px;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray-200);
}
.c,
.cParent {
  position: absolute;
  width: 335px;
  height: 140px;
}
.c {
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.cParent {
  top: 382px;
  left: 4px;
  font-size: var(--font-size-5xs);
}
.child {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-red);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 108px;
  height: 108px;
}
.child,
.div21,
.div22 {
  position: absolute;
}
.div22 {
  top: 21px;
  left: 33px;
  line-height: 22px;
  font-weight: 800;
}
.div21 {
  top: 684px;
  left: 245px;
  width: 108px;
  height: 108px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.lifelinkParent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.groupWrapper {
  position: relative;
  width: 353px;
  height: 850px;
}
.div,
.inner {
  display: flex;
  align-items: center;
}
.inner {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 898px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-4xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}
