.lifelink {
  position: absolute;
  width: 27.99%;
  top: 0;
  left: 10.79%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-baloo-bhaijaan);
  color: var(--color-red);
  display: inline-block;
}
.vectorIcon {
  height: 5.66%;
  width: 5.86%;
  top: 0.23%;
  right: 94.14%;
  bottom: 94.11%;
  left: 0;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1 {
  height: 6.05%;
  width: 4.46%;
  top: 0.46%;
  right: 90.38%;
  bottom: 93.49%;
  left: 5.16%;
  opacity: 0.94;
}
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  height: 2.87%;
  width: 8.45%;
  top: 5.13%;
  right: 91.2%;
  bottom: 92%;
  left: 0.35%;
}
.vectorIcon3,
.vectorIcon4 {
  height: 3.29%;
  width: 1.55%;
  top: 2.57%;
  right: 94.4%;
  bottom: 94.14%;
  left: 4.05%;
}
.vectorIcon4 {
  height: 1.22%;
  width: 4.17%;
  top: 3.56%;
  right: 93.09%;
  bottom: 95.22%;
  left: 2.74%;
}
.groupChild {
  position: absolute;
  top: 48px;
  left: calc(50% - 163.5px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 335px;
  height: 99px;
}
.div1 {
  position: absolute;
  top: 63px;
  left: 27px;
  font-weight: 600;
}
.groupItem {
  position: absolute;
  top: 90px;
  left: 25px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-200);
  width: 306px;
  height: 38px;
}
.groupInner {
  position: absolute;
  top: 159px;
  left: calc(50% - 163.5px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 335px;
  height: 99px;
}
.div2 {
  position: absolute;
  top: 174px;
  left: 27px;
  font-weight: 600;
}
.rectangleDiv {
  position: absolute;
  top: 201px;
  left: 25px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-200);
  width: 306px;
  height: 38px;
}
.groupChild1 {
  position: absolute;
  top: 270px;
  left: calc(50% - 163.5px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 335px;
  height: 99px;
}
.div3 {
  position: absolute;
  top: 285px;
  left: 27px;
  font-weight: 600;
}
.groupChild2,
.groupChild3 {
  position: absolute;
  top: 312px;
  left: 25px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-200);
  width: 145px;
  height: 38px;
}
.groupChild3 {
  left: 186px;
}
.div4,
.div5 {
  position: absolute;
  top: 322px;
  left: 90px;
  font-size: var(--font-size-sm);
  font-weight: 600;
}
.div5 {
  left: 253px;
}
.groupIcon {
  position: absolute;
  top: 393px;
  left: 258px;
  width: 85px;
  height: 42px;
}
.lifelinkParent {
  position: relative;
  width: 343px;
  height: 435px;
}
.div,
.inner {
  display: flex;
  align-items: center;
}
.inner {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.div {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 898px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-4xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.patient_name_input,
.birth_input {
  padding-left: 10px;
  width: 295px;
  height: inherit;
  border: none;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-200);
  font-size: var(--font-size-xl);
}
.div4,
.div5 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--color-gainsboro-200);
}
